<div class="card post-card my-2">
  <section class="card-header py-1">
    <h2 class="title is-size-5-tablet is-size-6-mobile px-2 my-1"><a
        href="/posts/{{id}}">{{hide_default_comment_title this}}</a></h2>
    {{#unless summary}}
    <p class="subtitle is-size-6-tablet is-size-7-mobile px-2 my-1">by <a
        href="/users/{{user_id}}">{{user.username}}</a> on {{date created_at}}
      ({{relative_time created_at}}ago)</p>
    {{/unless}}
  </section>
  {{#unless summary}}
  <pre>{{body}}</pre>
  {{/unless}}
  <section class="card-footer">
    {{#if commentCount}}
    <span class="px-2"><a href="/posts/{{id}}"> {{commentCount}} {{pluralize "comment" commentCount}}</a></span>
    {{else}}
    <span class="px-2"></span>
    {{/if}}
    <div>
      {{#if session.isLoggedIn}}
      <span class="px-2"><a class="is-size-5-tablet is-size-6-mobile" href="/posts/{{id}}#comment">Reply</a></span>
      {{/if}}
      {{#if (owns_post session.user this)}}
      <span class="px-2 is-size-5-tablet is-size-6-mobile"><a href="/edit/{{id}}">Edit</a></span>
      <span class="px-2 is-size-5-tablet is-size-6-mobile"><a data-id="{{id}}" class="destroy">Delete</a></span>
      {{/if}}
    </div>
  </section>
</div>
{{#each comments}}
<div class="columns is-mobile is-centered my-0">
  <div class="column is-offset-1">
    {{> view_post session=../session}}
  </div>
</div>
{{/each}}