<div>
  <section class="header">
    <a href="/posts/{{id}}">
      <h2>{{title}}</h2>
    </a>
    <p>by {{user.username}} - {{relative_time created_at}}ago</p>
  </section>
  <p>{{body}}</p>
  <section class="footer">
    {{#if commentCount}}
    <p>{{commentCount}} {{pluralize "comment" commentCount}}</p>
    {{/if}}
  </section>
  {{#each comments}}
  {{> view_post}}
  {{/each}}
</div>